<template>

    <lightning-card>

        <template if:true={accountNotExixt}>
            <lightning-card title="Bank Account Opening Form">

                <template if:true={showLabelonhandle}>
                    <div class="section-label slds-p-left_medium">
                        <strong>
                            <h2>Personal Details</h2>
                        </strong>
                    </div>
                </template>
                <div class="slds-grid slds-wrap  slds-m-around_medium">

                    <template for:each={updatedFormData} for:item="item" for:index="index">

                        <div class="slds-col slds-size_6-of-12 " key={item.Id}>


                            <template if:true={item.IsPersonalInfo__c}>
                                <template if:true={item.isCheckbox}>
                                   
                                    <lightning-combobox name="Type" label={item.Questions__c}  required={item.isrequired}  placeholder="Select Type"
                                        options={item.options} onchange={handleInputChangeDynamically}
                                        data-index={index} data-obj={item.ObjectApiName__c}
                                        data-field={item.FieldApiName__c}></lightning-combobox>

                                </template>

                                
                                <template if:true={item.isText}>

                                    <lightning-input type={item.Question_Type__c} required={item.isrequired} label={item.Questions__c}
                                        onchange={handleInputChangeDynamically}    data-index={index}
                                        data-obj={item.ObjectApiName__c}
                                        data-field={item.FieldApiName__c}></lightning-input>

                                </template>


                            </template>
                        </div>

                    </template>
                </div>

                <template if:true={showLabelonhandle}>
                    <div class="section-label slds-p-left_medium">
                        <strong>
                            <h2>Address Details</h2>
                        </strong>
                    </div>
                </template>
                <div class="slds-grid slds-wrap slds-m-around_medium ">

                    <template for:each={updatedFormData} for:item="item" for:index="index">

                        <div class="slds-col slds-size_6-of-12 " key={item.Id}>
                            <template if:true={item.IsAddress__c}>

                                <template if:true={item.isText}>

                                    <lightning-input type={item.Question_Type__c}  label={item.Questions__c}
                                        onchange={handleInputChangeDynamically} data-index={index}
                                        data-obj={item.ObjectApiName__c}
                                        data-field={item.FieldApiName__c}></lightning-input>

                                </template>

                                <template if:true={item.isCheckbox}>

                                    <lightning-combobox name="Type" label={item.Questions__c}  placeholder="Select Type"
                                        options={item.options} onchange={handleInputChangeDynamically}
                                        data-index={index} data-obj={item.ObjectApiName__c}
                                        data-field={item.FieldApiName__c}></lightning-combobox>

                                </template>

                            </template>
                        </div>

                    </template>
                </div>

                <template if:true={showLabelonhandle}>
                    <div class="section-label slds-p-left_medium">
                        <strong>
                            <h2>Educational Details</h2>
                        </strong>
                    </div>
                </template>
                <div class="slds-grid slds-wrap slds-m-around_medium">
                    <template for:each={updatedFormData} for:item="item" for:index="index">
                        <div class="slds-col slds-size_6-of-12 " key={item.Id}>
                            <template if:true={item.IsEducationDetails__c}>
                                <template if:true={item.isText}>
                                    <lightning-input type={item.Question_Type__c} label={item.Questions__c}
                                        onchange={handleInputChangeDynamically} data-index={index}
                                        data-obj={item.ObjectApiName__c}
                                        data-field={item.FieldApiName__c}></lightning-input>
                                </template>
                                <template if:true={item.isCheckbox}>
                                    <lightning-combobox name="Type" label={item.Questions__c}  placeholder="Select Type"
                                        options={item.options} onchange={handleInputChangeDynamically}
                                        data-index={index} data-obj={item.ObjectApiName__c}
                                        data-field={item.FieldApiName__c}></lightning-combobox>
                                </template>
                            </template>
                        </div>
                    </template>
                </div>

                <template if:true={showLabelonhandle}>
                    <div class="section-label slds-p-left_medium">
                        <strong>
                            <h2>Account Information Details</h2>
                        </strong>
                    </div>
                </template>
                <div class="slds-grid slds-wrap slds-m-around_medium">

                    <template for:each={updatedFormData} for:item="item" for:index="index">

                        <div class="slds-col slds-size_6-of-12 " key={item.Id}>

                            <template if:true={item.IsAccount__c}>
                                <template if:true={item.isText}>

                                    <lightning-input type={item.Question_Type__c}  label={item.Questions__c}
                                        onchange={handleInputChangeDynamically} data-index={index}
                                        data-obj={item.ObjectApiName__c}
                                        data-field={item.FieldApiName__c}></lightning-input>

                                </template>

                                <template if:true={item.isCheckbox}>

                                    <lightning-combobox name="Type" label={item.Questions__c}   placeholder="Select Type"
                                        options={item.options} onchange={handleInputChangeDynamically}
                                        data-index={index} data-obj={item.ObjectApiName__c}
                                        data-field={item.FieldApiName__c}></lightning-combobox>

                                </template>
                            </template>
                        </div>

                    </template>
                </div>


                <template if:true={buttonAccountOpen}>
                    <div class="slds-p-left_x-small">
                        <lightning-button class="slds-align_absolute-center" label="Create New Account" variant="brand"
                            onclick={handleLoad}></lightning-button>
                    </div>
                </template>
                <template if:false={buttonAccountOpen}>
                    <div class="slds-p-right_x-small">
                        <lightning-button class="slds-align_absolute-center" label="Save" variant="brand"
                            onclick={handleSave}></lightning-button>

                    </div>
                </template>
            </lightning-card>

        </template>



        <template if:true={accountExist}>
            <lightning-card class="slds-align_absolute-center" title="Bank Account Information">
                <div  class="slds-align_absolute-center">
                <strong> Account ID: {applicantID}</strong>
            </div>
                <br />
                <div  class="slds-align_absolute-center">
                <strong> First Name: {applicantFirstName}</strong>
            </div>
                <br />
                <div  class="slds-align_absolute-center">
                <strong> Last Name:{applicantLastName}</strong>
                <br />
            </div>
            <br/>
                <div class="slds-align_absolute-center slds-col slds-p-horizontal_medium ">
                    <lightning-button style="padding-top: 5px;" label="Back" variant="brand"
                        onclick={handleBack}></lightning-button>
                </div>
            </lightning-card>
        </template>

        <template if:true={mobVerification}>

            <lightning-card title="Bank Account Verification">
                <div class="slds-grid">
                    <div class="slds-col slds-p-horizontal_medium slds-col slds-size_6-of-12">
                        <span><lightning-input type="text" label="Enter Mobile No"
                             onchange={handleVerificationCheck}></lightning-input></span>
                    </div>
                </div>
                <br />
                <div class="slds-col slds-p-horizontal_medium">
                    <lightning-button label="check Account" variant="brand" onclick={handleCheck}></lightning-button>
                </div>
            </lightning-card>

        </template>

    </lightning-card>

</template>