<template>
    
        <lightning-card title="Hospital Managment Association">
            <lightning-layout>
                <lightning-layout-item padding="around-small">
                    <div onchange={handleKeyUp}>
                        <lightning-input name="enter-search" label="Searh"  variant="label-hidden" placeholder="Enter Hospital" type="search"></lightning-input>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <lightning-button class="slds-align_absolute-center" label="Search" variant="brand" onclick={handleSubmit}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
            <!-- <lightning-map map-markers={markerVar}> </lightning-map> -->

            <template if:true={hospital}>
                <lightning-map map-markers={myarrayOfmap} ></lightning-map>
            </template>
               
            <template if:true={noHospital}>
                <h1>
                    <lightning-icon icon-name="utility:error" alternative-text="error" title="error" variant="error"></lightning-icon>
                     <strong> Sorry!! No Hospital are there. Near to this location</strong>
                </h1>
              
            </template>
            
           
        </lightning-card>
</template>