<template>
    <lightning-card title="Hospital Managment">


        <template if:true={hospitalExist}>

            <div class="slds-p-right_x-small slds-p-left_medium">
                <lightning-combobox name="Hospital Type" label="Hospital Type" value={value}
                    placeholder="Select Hospital Type" options={updatedData}
                    onchange={handleChange}></lightning-combobox>
                <lightning-input type="number" name="hospitalDistance" value={distance} onchange={inputDistance}
                    label="Please Enter Distance"></lightning-input>
            </div>

            <div class="slds-grid slds-gutters slds-p-around_medium">
                <div class="slds-col">
                    <lightning-input label="Latitude" type="number" step="any"
                        onchange={handleLatitudeChange}></lightning-input>
                </div>
                <div class="slds-col">
                    <lightning-input label="Longitude" type="number" step="any"
                        onchange={handleLongitudeChange}></lightning-input>
                </div>
            </div>

            <lightning-layout>
                <lightning-layout-item padding="around-small">
                    <lightning-button variant="brand" label="Current Location" onclick={handleClick}>
                    </lightning-button>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <lightning-button class="slds-align_absolute-center" label="Check Hospitals" variant="brand"
                        onclick={handleSubmit}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>



            <lightning-map map-markers={markerVar}> </lightning-map>

        </template>

        <template if:true={hospital}>
            <lightning-map map-markers={myarrayOfmap}></lightning-map>

        </template>

        <template if:true={noHospital}>
            <h1>
                <lightning-icon icon-name="utility:error" alternative-text="error" title="error"
                    variant="error"></lightning-icon>
                <strong> Sorry!! No Hospital are there. Near to this location</strong>
            </h1>

        </template>


    </lightning-card>
</template>